<template>
    <div class="container">
        <div class="col">
            <div>
                <h1 class="m-5">
                    Tiendita virtual
                </h1>
            </div>
            <div>
                <list-products
                    :products="products"
                />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import listProducts from './listProducts.vue';
export default {
    components: {
        listProducts
    },
    data: function() {
        return {
            products: []
        }
    },
    methods: {
        getProducts() {
            axios.get('api/products')
            .then(response => {
                this.products = response.data
            })
            .catch(error => {
                console.error({error})
            })
        }
    },
    created() {
        this.getProducts()
    }
}
</script>
