<template>
    <div class="row">
        <div class="col" v-for="(product, index) in products" :key="index">
            <product
                :product="product"
            />
        </div>
    </div>

</template>

<script lang="ts">
    import product from './product.vue'
    export default {
        props: ['products'],
        components: { product },

    }
</script>
