<template>
    <div>
        <div class="card">
            <img :src="product.image" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <button @click="getPaid()" class="btn btn-danger">Comprar</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    props: ['product'],
    methods: {
        getPaid() {
            localStorage.paidProductId = this.product.id;
            window.location="/pagar/" + this.product.id;
        }
    }
}
</script>
