<template>
    <div>
        <div v-for="(item, index) in items" :key="index">
            <list-item
            :item="item"
            v-on:itemchanged="$emit('reloadlist')"
            class="item"
            />
        </div>
    </div>
</template>

<script lang="ts">
import ListItem from './listItem.vue'
export default {
    props: ['items'],
    components: {
        ListItem
    }
}
</script>

<style scoped>
.item {
    background: #e6e6e6;
    padding: 5px;
    margin-top: 5px;

}
</style>
