<template>
    <div class="container">
        <div class="col">
            <div>
                <h1 class="m-5">
                    Comprar
                </h1>
            </div>
            <div>
                <button @click="getHome()" class="btn btn-primary">Volver</button>
            </div>
            <div class="row">
                <div class="col-4">
                    <product-description :product="product" />
                </div>
                <div class="col-6">
                    <form-person />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import productDescription from './productDescription.vue'
import formPerson from './formPerson.vue'

export default {
    components: {
        productDescription,
        formPerson
    },
    data: function() {
        return {
            paidProductId: null,
            form: [],
            product: [],
            order: {}
        }
    },
    mounted() {
    if (localStorage.paidProductId) {
      this.paidProductId = localStorage.paidProductId;
      this.getProduct();
    }
  },
  methods: {
      getProduct() {
            axios.get('../api/products/' + this.paidProductId)
            .then(response => {
                this.product = response.data
            })
            .catch(error => {
                console.error({error})
            })
        },
        getHome() {
            window.location="/";
        },
        createOrder() {

        }
  }
}
</script>
