<template>
    <div>

            <div class="mb-3">
                <label for="customer_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="customer_name" aria-describedby="customer_nameHelp" v-model="customer.customer_name">
                <div id="customer_nameHelp" class="form-text">Escriba nombre</div>
            </div>
            <div class="mb-3">
                <label for="customer_email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="customer_email" aria-describedby="customer_emailHelp" v-model="customer.customer_email">
                <div id="customer_emailHelp" class="form-text">Escriba dirección</div>
            </div>
            <div class="mb-3">
                <label for="customer_mobile" class="form-label">número Celular</label>
                <input type="number" class="form-control" id="customer_mobile" aria-describedby="customer_mobileHelp" v-model="customer.customer_mobile">
                <div id="customer_mobileHelp" class="form-text">Escriba teléfono</div>
            </div>
            <div>
                <button @click="saveOrder()" class="btn btn-primary">Pagar</button>
            </div>

    </div>
</template>

<script lang="ts">

export default {
    data: function() {
        return {
            customer: {
                customer_name: '',
                customer_email: '',
                customer_mobile: '',
                product_id: null
            }
        }
    },
    methods: {
        saveOrder() {
            this.customer.product_id = localStorage.paidProductId
            axios.post('../api/orders', {
                order : this.customer
            })
            .then(response => {
                if(response.status == 200) {
                    this.customer.customer_name = "";
                    this.customer.customer_email = "";
                    this.customer.customer_mobile = "";

                    const sessionData = {
                        auth: {
                            login: "6dd490faf9cb87a9862245da41170ff2",
                            seed: response.data.OrderSession.seed,
                            nonce: response.data.OrderSession.nonce,
                            tranKey: response.data.OrderSession.tranKey
                        },
                        payment: {
                            reference:  response.data.newOrder.reference,
                            description: "Pago básico de prueba",
                            amount: {
                                currency: "COP",
                                total: "10000"
                            }
                        },
                        expiration: response.data.OrderSession.expiration,
                        returnUrl: "http://tienda.local/respuesta/" + response.data.newOrder.reference,
                        ipAddress: "127.0.0.1",
                        userAgent: "PlacetoPay Sandbox"
                    }
                    this.getSession(sessionData);
                }
            })
            .catch(error => {
                console.error({error})
            })
        },
        getSession(sessionData) {
            axios.post('https://test.placetopay.com/redirection/api/session/', {
                data: sessionData
            })
            .then(response => {
                console.log({response});
            })
            .catch(error => {
                console.error({error})
            })
        }
    }

}
</script>
