<template>
    <div>
        <div class="card">
            <img :src="product.image" class="card-img-top" alt="ima">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

export default {
    props: ['product']
}
</script>
